
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form >
    <ion-button type="clear" expand='block' (click)="showBasicPicker()" color='light' name='spent' required oninput="spent(event)">Money Spent By</ion-button>
    <ion-row text-center>
      <ion-col size="12">{{ spent }}</ion-col>
    </ion-row>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormate='DD-MM-YYYY' placeholder="Select Date" [(ngModel)]="date" required name='date'> </ion-datetime>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Reason
      </ion-label>
      <ion-input type="text" [(ngModel)]="reason" required name='reason' required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Anil 
      </ion-label>
      <ion-input type="text" [(ngModel)]="anil" name='anil'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Vamsi 
      </ion-label>
      <ion-input type="text" [(ngModel)]="vamsi" name='vamsi'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Sri Ram 
      </ion-label>
      <ion-input type="text" [(ngModel)]="sriram" name='sriram'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Krishna Kanth 
      </ion-label>
      <ion-input type="text" [(ngModel)]="kk" name='kk'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Praneeth 
      </ion-label>
      <ion-input type="text" [(ngModel)]="praneeth" name='praneeth'></ion-input>
    </ion-item>
      <ion-button expand="full" (click)="add_amt()">Submit</ion-button>
  </form>
</ion-content>
